
.wrap{
	background-color: #F5F5F5;
}

.jumbotron-index {
	background-color: #99CCCC;
}

.list-query-type {
	line-height: 40px;
	color: #999;
	font-size: 15px;
}

.list-query li {
	margin-right: 10px;
}


.list-hot , .list-new{
	padding: 10px 10px 0 15px;
}

.list-preivew {
	margin: 10px 0px 10px 0px;
}

.list-preview-href {clear:both;}

.course-status {
	margin-left: 10px;
	font-size: 10px;
	color:#333333;
}

.course-leaner {
	font-size: 10px;
	color:#333333;
}

.course-tips {
	text-align: left;
	color:#999;
}

.gray {
	background-color:#999;
}

/*.blur {
	-webkit-filter: blur(50px);
       -moz-filter: blur(50px);
        -ms-filter: blur(50px);    
            filter: blur(50px);
}*/

.course-view-infos{
	background-color: #172a34;
	color:white;
}

.list-query-type {}

.course-view-infos .breadcrumb {
	background-color: #172a34;
	color:white;
}

.course-view-title {
	margin-top: -20px;
	margin-left: 0px;
}

.course-view-class dd{
	color:gray;
}

.course-view-share {margin-top: 25px}
.course-view-share .fa-heart-o, .course-view-share .fa-share-alt, .course-view-share .fa-heart{cursor:pointer;}

.course-view-body .course-learn-body{margin-top: 50px}

.course-introduction , .course-outline{
	/*margin-left: -30px;*/
	border-bottom:1px blue dashed; 
}
.course-introduction .introduction-title{
	color:red;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";
}

.course-introduction li {
	margin-right: 10px;
}


.course-outline {
	margin-top: 20px;
}

.course-outline span{
/*	color:red;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";*/
}

.outline-title, .comment-title{
	color:red;
	font-size: 18px;
	font-weight: bold;
	font-family: "微软雅黑";
}

.comment-title:span{margin-left:10px;}
.course-outline-top li, .course-outline-top span{
	margin-right: 10px;
}

.outline-body h6 {
	margin-top: 0px;
	color:gray;
}

.outline-body h5 {
	margin-top: 4px;
}

.outline-body{
	margin-top: 30px;
}

.outline-body-list{margin-bottom: 20px}

.view-body, .learn-body{
	margin:50px 0 0 -45px;
	padding:0;
}


.course-comment .addComment{margin-left: 20px;cursor:pointer;}
.course-comment, .course-qa{margin-top: 20px}

.evaluation-info {
	margin-top: 10px;
	background-color: #99CCCC;
}

.evaluation-info .comment-total {
	float: right;
}

.evaluation-con .evaluation-name {
	color:gray;
}

.evaluation-content {
	margin-top: 10px;
}

.evaluation-time {
	color:gray;
	font-size: 14px;
	font-weight: bold;
}

.course-comment .media {
	border-bottom:1px #808080 dashed; 
}
.fa-star, .fa-star-o{
	color: #FF9900;
}

.btn-start  {margin-top: 0px;}

.teacher-word {
	margin-top: 100px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom:1px #669999 dashed; 
}



.teacher-info hr {width:2px;}

.teacher-job{color:#999}

.course-notice {
	margin-top: 20px;
	background-color: #EDF1F4
}
.course-notice p , .course-notice li {
	color:#999;
}

.course-learn-body .progress{background-color: #999}

.course-learn-chapter {margin-top: 20px;}
.course-learn-chapter .panel-body {color:gray;margin-left: 3%}

.course-menu {
	margin-top: 10px;
	border-bottom:1px red dashed;
	width:96%;
	left:2%;
}

.course-menu .menu-active {color:red;}

.course-menu h4:hover{color:red;cursor: pointer;}

.comment-input button {margin-top:10px;}
.comment-send {float:right;}

.comment-input, .qa-input{
	border-bottom:1px #669999 dashed;
	padding-bottom: 20px;
}

.comment-up, .comment-down{float:right;}

.comment-up:hover, .comment-down:hover{color:red;cursor:pointer;}

.qa-name{color:gray;font-size: 6px}

.qa-detail{margin-top:10px;}

.qa-content{
	font-size: 16px;
	font-family: '黑体';
	font-weight: bold;
}
.fa-question{color:#0099FF;}

.qa-new{color:gray;}

.qa-detail .media{border-bottom:1px #669999 dashed;}

.video-menu .comment-input{margin-top: 20px}

.background{
	position:absolute;
	top:51px;
	left:0px;
	right:0px;
	width:100%;
	overflow: hidden;
}

.user-head-pic{margin-top: 2%}

.user-info{
	color:white;
}

.zone-username .signature{margin-top: 60px}

.zone-nut{margin-top: 90px}

.zone-user-sex{margin: 15px 0 0 100px;color:white;}

.zone-user-menu{margin-top: 30px}

.user-course,.user-qa,.user-profile{margin-top: -70px;background-color: #d4edf4;
	border: 1px #d4edf4 dashed;
	border-radius: 10px;
}

.user-profile .input-group, .upload-head-pic, .user-sex{margin-top: 20px}

.user-head-pic .img-circle{margin-left: 20px}

.profile-save{padding-bottom: 20px}

.alert-dismissible{margin:5px 0 0 0 ;padding:5px 25px;}

/*.mengceng{display:none;position:absolute;top:0%;left:1%;z-index: 100;width:100%;height:100%;background-color:gray;opacity:0.8;}
.mengceng .gif{margin:50%;color:blue}*/

.user-head-pic .fa-refresh:hover{cursor:pointer;}


.fa-venus{color:#FF3399;}
.fa-mars{color:#66CCFF}







.category-view li {margin-top: 20px}
.category-view:first-child {margin-top: -20px}
.category-view > li:nth-child(odd) {
	background-color: #CCFFFF;
	border: 1px solid gray;
	border-radius: 5px;
}
.category-view > li:nth-child(even) {
	background-color: rgba(212,237,244,1);
	border: 1px solid gray;
	border-radius: 5px;
}
.course-view-img {margin: 12px;}
/*.course-view-introduction {font-family: "微软雅黑"}*/
.course-view-badge {margin:70px 0;}
.course-view-introduction h5{margin:20px 0 30px 0;color:gray;}
.course-view-introduction h5 span {margin:0 5px;}
.course-view-badge .hot-1 {background-color:rgba(240,20,0,1);}
.course-view-badge .hot-2 {background-color:rgba(240,20,0,0.8);}
.course-view-badge .hot-3 {background-color:rgba(240,20,0,0.6);}
.course-view-badge .hot-4 {background-color:rgba(0,0,255,0.5);}
.course-view-badge .hot-5 {background-color:rgba(153,153,153,1);}


.commentModal-body span{color:rgba(255,153,0,1);cursor:pointer;}


